[submodule "deps/phy_sx127x"]
	path = deps/phy_sx127x
	url = git@github.com:dwhall/phy_sx127x.git
[submodule "deps/lnk_heymac"]
	path = deps/lnk_heymac
	url = git@github.com:dwhall/lnk_heymac.git
	branch = main
