# This file lists the required python modules.
# To install a module of a specific version:
#   prototype: pip install --user <modulename>==<version>
#   example:   pip install --user farc=0.2.0

farc >= 0.2.0   # https://pypi.org/project/farc/
spidev >= 2.0.0 # https://pypi.org/project/spidev

# This version (or later) of RPi is needed because of the "chnl"
# argument to GPIO event callbacks.  If you must use
# an older version of RPi, you may remove the chnl argument
# to all SX127xPhy._dio#_isr() callbacks.
RPi >= 0.5.2 # https://pypi.org/project/RPi.GPIO/
